body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #fff;
}

div.btnCompra {
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    text-align: right;
    width: 99%;
}

div.cantC {
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
    text-align: right;
    width: 99%;
}

.cantidadC {
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
    padding: 6px;
    text-align: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: sienna;
    width: 97%px;
    box-shadow: 0 2px 4px rgba(0, 0, 9, 0.3);
}

.botonRemover {
    position: relative;
    background-color: rgb(194, 40, 40);
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 9, 0.3);
    color: #fff;
    font-size: 12px;
    padding: 4px 8px;
    cursor: pointer;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.contenedor {
    display: flex;
    min-height: 100vh;

}

.armado {
    position: relative;
    margin: 0 auto;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

.menu {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #005d9a;
    height: 100px;
    width: 100%;
}

/* Secci칩n para el manejo de los dotos de usuario si hay sesi칩n iniciada*/
.usuario {
    position: relative;
    top: -30px;
    left: 700px;
}
.cargoBienvenida {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    position: relative;
    top: -40px;
    left: 50px;
}

.cargoUsuario {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    position: relative;
    top: -15px;
    left: -45px;
}

.btnSalir{
    position: relative;
    top: -20px;
    left: 620px;
    background-color: #47a386;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 9, 0.3);
    color: #fff;
    font-size: 10px;
    padding: 4px 8px;
    cursor: pointer;
}

.pie {
    position: relative;
    left: 0px;
    bottom: 0px;
    background-color: #005d9a;
    height: 100px;
    width: 100%;
}

.logo {
    position: relative;
    left: 150px;
    top: 15px;
    width: 50px;
    height: 50px;
}

.contieneLista {
    position: relative;
    top: -20px;
}

.posPrecio {
    position: sticky;
    bottom: 100px;
    padding-left: 10px;
    opacity: 1;
}

.posCompraFinal {
    position: sticky;
    bottom: 20px;
    padding-left: 10px;
    opacity: 1;
}

.posBotonbk {
    position: sticky;
    top: 20px;
    padding-left: 10px;
    opacity: 1;
}

.posBotonOcultar {
    opacity: 0;
    pointer-events: none;
}

ul {
    list-style-type: none;
    position: relative;
    left: 600px;
    top: 0px;
}

.itemsMenu {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    font-size: 18px;
    float: left;
    color: #fff;
    margin-right: 70px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

.itemsMenu:hover {

    border-bottom: solid 2px;
    border-color: #e9e5e6;
}

/*Elimino el dise침o por defecto de los a*/
a {
    text-decoration: none;
    outline: none;
}

a:link {
    text-decoration: none;
    outline: none;
}

#userImg {
    position: inherit;
    width: 16px;
    height: 16px;
    margin-right: 4px;
}

.mostrar-modal {
    display: flex;
    background-color: rgba(8, 8, 8, 0.5);
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    top: 0;
    left: 0;
    opacity: 0;
    font-family: "Poppins", sans-serif;
    z-index: 10;
}

.modal {
    background-color: rgba(52, 61, 83, 0.7);
    width: 500px;
    max-width: 100%;
    padding: 15px 25px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.modal h1 {
    margin: 0;
    margin-bottom: 20px;
    color: #fff;
}

.modal form {
    width: 500px;
    margin-bottom: 10px;
}

.modal label {
    display: inline-block;
    width: 110px;
    text-align: left;
    height: 27px;
    margin-right: 30px;
    font-size: 16px;
    color: #fff;
    margin-bottom: 10px;
}

.muestro {
    pointer-events: auto;
    opacity: 1;
}

.boton {
    background-color: #47a386;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 9, 0.3);
    color: #fff;
    font-size: 14px;
    padding: 10px 25px;
    cursor: pointer;
}

.ubicoBoton {
    display: inline-block;
    width: 500px;
    text-align: right;
    margin-top: 20px;
}

.ubicarSubmit {
    display: inline-block;
    width: 500px;
    text-align: left;
    margin-bottom: 5px;
}

.botonSubmit {
    background-color: #005d9a;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: 14px;
    padding: 5px 12px;
    cursor: pointer;
    margin-left: 90px;
}

.mostrarRegistro {
    display: none;
    background-color: rgba(8, 8, 8, 0.5);
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    top: 0;
    left: 0;
    opacity: 0;
    font-family: "Poppins", sans-serif;
}

.modalRegistro {
    background-color: rgba(52, 61, 83, 0.7);
    width: 500px;
    max-width: 100%;
    padding: 15px 25px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 10;
}

.muestro2 {
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    top: 0;
    left: 0;
    opacity: 0;
    font-family: "Poppins", sans-serif;
    pointer-events: auto;
    opacity: 1;
    z-index: 10;
}


.modalRegistro form {
    width: 500px;
    margin-bottom: 10px;
}

.modalRegistro label {
    display: inline-block;
    width: 110px;
    text-align: left;
    height: 27px;
    margin-right: 30px;
    font-size: 16px;
    color: white;
}

.modalRegistro h1 {
    color: white;
}

.alinearBotones {
    position: flex;
    width: 500px;
    text-align: right;
    margin-bottom: 10px;
}

.mensajError {
    font-size: 12px;
}

main {
    position: relative;
    top: 110px;
}

.contenedor-boton {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.boton-categoria {
    background-color: #005d9a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.boton-categoria:first-child {
    border-radius: 5px 0px 0px 5px;
}

.boton-categoria:nth-child(2) {
    border-radius: 0px;
}

.boton-categoria:last-child {
    border-radius: 0px 5px 5px 0px;
}

.boton-categoria a {
    text-decoration: none;
    color: white;
}

.contenedor-producto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contenedor-carrito {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding-left: 200px;
    overflow: none;
}

.producto {
    width: 500px;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    text-align: center;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
}

.producto:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.producto img {
    max-width: 100%;
    height: auto;
}

.a침adir-carrito {
    background-color: #0076c4;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.precio {
    font-weight: bold;
    display: inline;
}

.categoria {
    font-style: italic;
}

#carrito {
    position: relative;
    width: 50px;
    height: 50px;
    left: 1000px;
    top: -40px;
}
.claseIframe {
    width: 100%;
    height: 100vh;
    color: black;
    border: none;
    overflow: hidden;
    z-index: 1;
}

